::before {
  margin: 0;
  padding: 0;
}
body {
  background: url(../img/greensmoke.JPG);
  background-size: cover;
  font-family: "Architects Daughter", cursive;
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding-top: 20px;
  padding-bottom: 70px;
  padding-left: 70px;
  padding-right: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jumbotron {
  padding: 0, 0, 10px, 10px;
  background: rgb(102, 153, 153); /* This is for ie8 and below */
  background: rgba(102, 153, 153, 0.3);
}
IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid rgb(102, 153, 153);
}
.img.displayed:hover {
  border-color: #f1f1f1;
}
p {
  margin-top: 40px;
  margin-bottom: 60px;
  color: rgb(195, 20, 187);
}

.img-responsive {
  border: 10px solid rgb(102, 153, 153);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  height: 300px;
  width: auto;
}
.img-responsive:hover {
  border-color: #f1f1f1;
}

.navbar-toggler {
}

h2 {
  color: white;
  text-shadow: 4px 4px 4px #333;
  text-align: center;
  margin-top: 200px;
}

h1,
h2,
h3 {
  color: rgb(254, 255, 255);
  text-shadow: rgba(14, 53, 3, 0.5) -3px 0;
  text-align: center;
  -webkit-text-stroke: 0.6px black;
}


/*dashboard characters*/
.mainDashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/alfombraroja.jpg);
}


article {
  margin-top: 50px;
  background-color: black;
  border: 10px solid rgb(102, 153, 153);
}
.images {
  width: 375px;
  border-top: 10px solid rgb(102, 153, 153);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
h4 {
  color: white;
  font-size: 15px;
  text-align: center;
  width: 370px;
  margin: 10px 0;
}
/*login*/
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login {
  padding: 16px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  background: linear-gradient(to bottom, green, rgb(146, 144, 3));
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
.menuicon {
  display: inline-block;
  cursor: pointer;
}

/*Signup*/

.signup {
  padding: 16px;
}

.message-container p {
  color: rgb(15, 209, 209);
  font-size: 16px;
}

#faq {
  max-width: 500px;
  margin: auto;
  padding: 0 15px;
  text-align: center;
}

#faq ul {
  list-style: none;
  perspective: 900;
  margin-top: 30px;
}
#faq ul li {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: rgb(238, 226, 238);
  border: 2px solid rgb(211, 123, 214);
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent;
}
#faq ul li + li {
  margin-top: 15px;
}
#faq ul li:last-of-type {
  padding-bottom: 0;
}
#faq ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 28px;
  right: 15px;
}
#faq ul li i:before,
ul li i:after {
  content: "";
  position: absolute;
  background-color: rgb(128, 0, 107);
  width: 3px;
  height: 9px;
}
#faq ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
#faq ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
#faq ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  touch-action: manipulation;
}
#faq ul li input[type="checkbox"]:checked ~ h2 {
  color: #000;
}
#faq ul li input[type="checkbox"]:checked ~ p {
  /*margin-top: 0;*/
  max-height: 0;
  transition: 0.3s;
  opacity: 0;
  /*transform: translate(0, 50%);*/
}

/*Responsive iphone 6/7/8 (portada)*/
@media screen and (max-width: 376px) {
  
  .img-responsive {
    margin-bottom: 25px;
    height: 230px;
    width: 375px;
  }
}
/*Responsive iphone 6/7/8 plus*/
@media screen and (min-width: 414px) {
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 376px) and (max-width: 414px) {

  .img-responsive {
    margin-bottom: 25px;
    height: 230px;
  }
}
/*Responsive ipad*/
@media screen and (min-width: 768px) {
  body {
    background-image: url(../img/amarillo-cara.jpg);
  }
  input[type="text"],
  input[type="password"] {
    width: 40%;
  }
  .button {
    width: 40%;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
  }
  .signup-form {
    margin-top: 28%;
  }
  #faq ul{
    margin-top: 30%;
}
/*Responsive ipad pro*/

@media screen and (min-width: 1024px) {
  input[type="text"],
  input[type="password"] {
    width: 40%;
  }
  .button {
    width: 40%;
  }
  .message-container p {
    color: rgb(15, 209, 209);
    font-size: 32px;
  }
  .signup-form {
    margin-top: 15%;
  }
  .login-form {
    width: 1000px;
  }
  
}
